body {
    background: lightgray;
}


header {
    display: flex;
    justify-content: flex-end; 
    gap: 20px;
    padding:20px;
}

header div{
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}



/* окно входа */

#overlay {
    background: rgb(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#overlay input {
    border-radius: 5px;
    border: 1px solid gray;
    height: 33px;
}

#userId {
    width: 230px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    border: 1px solid gray; 
    margin: 25px; 
    padding: 20px;
    background: aliceblue;
    border-radius: 10px;
    position: absolute;
    top: calc(50%  - 90px);;
    left: calc(50%  - 115px);

    
}

#userId div {
    display: flex; 
    flex-direction: column;
    gap: 5px;
}

#userId :nth-child(4) {
    justify-content: flex-end;
    flex-direction: row; 
    align-items: center;
}

#cross {
    position: absolute;
    cursor: pointer;
    margin-top: -10px;
    left: calc(100%  - 25px);
}

.entrance_button {
    background: orange;
}

.entrance_button:hover {
    background: rgb(244, 174, 45);
    cursor: pointer;
}


