body {
    background: lightgray;
    margin: 0px;
    height: 100vh;
    width: 100%;
}


header {
    display: flex;
    justify-content: flex-end; 
    gap: 20px;
    padding:20px;
}

header div{
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}



/* окно входа */

#overlay{
    background: rgb(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    transition: .5s;
}

#overlay input{
    border-radius: 5px;
    border: 1px solid gray;
    height: 33px;
}

.form {
    width: 230px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    border: 1px solid gray; 
    padding: 20px;
    background: aliceblue;
    border-radius: 10px;
    position: absolute;
    top: calc(50%  - 90px);;
    left: calc(50%  - 137px);

    
}

.form div {
    display: flex; 
    flex-direction: column;
    gap: 5px;
}

.form input {
    min-height: 33px;
    margin-bottom: 15px;

}

#form_entrance :nth-child(4) {
    justify-content: flex-end;
    flex-direction: row; 
    align-items: center;
}



#cross {
    position: absolute;
    cursor: pointer;
    margin-top: -10px;
    left: calc(100%  - 25px);
}

.entrance_button, .registration_button {
    background: orange;
    width: 228px;
}

.entrance_button:hover, .registration_button:hover {
    background: rgb(244, 174, 45);
    cursor: pointer;
}




#wrong_password, #enter_password {
    color: red;
    transition: 1s;
    height: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
    display: none;
}