body {
    background: lightgray;
}


#userId {
    width: 230px; 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    border: 1px solid gray; 
    margin: 25px; 
    padding: 10px;
    background: aliceblue;
    border-radius: 10px;
    position: absolute;
    top: calc(50%  - 90px);;
    left: calc(50%  - 115px);
    
    
}

#underlay {
    background: rgb(0, 0, 0, .5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

#cross {
    position: absolute;
    left: calc(100%  - 25px)
}

#userId input {
    height: 30px;
}
